/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-gray: #EEEEEE;
  --basic-gray-hover: #DFDFDF;
  --basic-gray-active: #D5D5D5;
  --basic-dark-gray: #4D4D4D;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
  --basic-white: #ffffff;
  --basic-footer-white: #E1E1E1;
  --basic-footer-gray: #444444;
} 

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Main navigation */

.header {
  color: var(--basic-black);
  background-color: var(--basic-gray);

}
.nav-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 160px;
  height: 65px;
}
.menu {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
.main-menu {

  margin: 0;
  padding: 0;
  list-style: none;
}


.main-menu a,
.cart a {
  color: var(--basic-black);
}
.main-menu a:hover,
.cart a:hover {
  color: var(--basic-red);
}
.main-menu a:focus,
.cart a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}
.main-menu a:active,
.cart a:active {
  color: var(--basic-black);
}

/* Sliders */

.sliders-wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.slider-items {
  list-style: none;
}
.slider-item {

  display: grid;
  grid-template-columns: 1fr min-content;
}

.slider-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;

}
.slider-sub-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;

}
.slider-image {
  width: 760px;
  height: 431px;
  left: 397px;
}
.slider-description {
  width: 397px;
}
/* Main (Index) */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

  /* Product */

.product {
  margin-bottom: 121px;
}
.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-item {
  width: 400px;
  text-align: left;
}
.product-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.product-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  width: 260px;
  text-transform: none;
}
.product-item p {
  margin-bottom: 32px;
}

/* About us */

.about-us-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.about-us h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.about-us p,
.about-us-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.about-us-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

/* Percent */

.percent-illustration {
  width: 360px;
  height: 208px;
}
.percent p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.percent-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-content: start;
  list-style: none;
}
.percent-item {
  margin: 0 auto;

}
.percent-item h3{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.percent-item p{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

/* Partners */

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 120px;
  list-style: none;
}
.partners-item a {
  opacity: 0.2;
}
.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}
.partners-item a:active {
  opacity: 0.1;
}

/* Buttons */

.button {
  padding: 16px 40px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
.button-red {
  background-color: var(--basic-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red-hover);
}
.button-red:active {
  background-color: var(--basic-red-active);
}
.button-green {
  background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-hover);
}
.button-green:active {
  background-color: var(--basic-green-active);
}
.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-hover);
}
.button-yellow:active {
  background-color: var(--basic-yellow-active);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-gray-hover);
}
.filter-button:active {
  background-color: var(--basic-gray-active);
}

/* Main (Catalog) */

  /* Sort */

.sort-catalog-list {
  list-style: none;
}
.sort-catalog-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

/* Pages */

.pagination-list {
  list-style: none;
}
.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

/* Footer */


  /* Address */

.address {
  width: 319px;
  background-color: var(--basic-white);
}
.adress h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.address p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

/* Socials */

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.socials-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
.social-button {
  background-color: var(--basic-footer-white);
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red-hover);
}
.social-button:active {
  background-color: var(--basic-red-active);
}
.social-button img:active {
  opacity: 0.3;
}

/* Friendly */

.friendly h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
.friendly p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-footer-gray);
  text-transform: none;
}