/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-gray: #EEEEEE;
  --basic-gray-hover: #DFDFDF;
  --basic-gray-active: #D5D5D5;
  --basic-dark-gray: #4D4D4D;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
  --basic-white: #ffffff;
  --basic-footer-white: #E1E1E1;
  --basic-footer-gray: #444444;
} 

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Main navigation */

.header {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 160px;
  height: 65px;
}

.menu,
.cart {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
.main-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-page-current {
  position: relative;
}
.nav-page-current::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -13px;
  left: 20px;
  height: 2px;
  background-color: var(--basic-red);
}

.cart-link {
  padding-left: 40px;
  position: relative;
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-menu a,
.cart a {
  color: var(--basic-black);
  display: block;
  padding: 0 22px;
}
.main-menu a:hover,
.cart a:hover {
  color: var(--basic-red);
}
.main-menu a:focus,
.cart a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}
.main-menu a:active,
.cart a:active {
  color: var(--basic-black);
}

/* Sliders */

.sliders {
  position: relative;
}
.slider-wrapper-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-position: right;
  background-repeat: no-repeat;
}
.slider-wrapper-2 {
  background-image: url("../img/nerds-index-slide2.png");
  background-position: right;
  background-repeat: no-repeat;
}
.slider-wrapper-3 {
  background-image: url("../img/nerds-index-slide3.png");
  background-position: right;
  background-repeat: no-repeat;
}
.slider {
  display: none;
}
.slider-current {
  height: 431px;
  display: block;

}
.slider-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-description {
  text-transform: none;
  padding: 0;

}
.slider-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 0;
  padding-top: 78px;
  margin-bottom: 37px;
}

.slider-sub-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 43px;
}
.slider-image {
  width: 760px;
  height: 431px;
  display: none;
}
.slider-controls {
  position: absolute;
  right: 536px;
  bottom: 96px;
  display: flex;
  justify-content: space-between;
  width: 88px;
  z-index: 20;
}
.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 0 solid white;
  border-radius: 50%;
  cursor: pointer;
}
.current-button::before {
  content: "";
  position: absolute;
  padding: 0;
  width: 6px;
  height: 6px;
  left: 4px;
  top: 4px;
  background-color: var(--basic-white);
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Main (Index) */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}

  /* Product */

.product {
  margin-top: 80px;
  margin-bottom: 121px;
  position: relative;
}
.product::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -80px;
  left: 0;
  height: 2px;
  background-color: var(--basic-gray);
}
.product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-item {
  width: 400px;
  text-align: left;
}
.product-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.product-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  width: 260px;
  text-transform: none;
}
.product-item p {
  margin-bottom: 32px;
}

/* About us */

.about-us-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 122px;
}
.about-us {
  width: 651px;
}

.about-us h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
  margin-bottom: 32px;
}
.about-us p,
.about-us-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.about-us p {
  margin-bottom: 40px;
}
.about-us-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  padding: 0;
}
.about-us-item {
  margin-left: 32px;
  margin-bottom: 29px;
  position: relative;
}
.about-us-item:first-child {
  margin-top: 24px;
}
.about-us-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -32px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

/* Percent */

.percent {
  width: 360px;
}

.percent-illustration {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}
.percent p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 31px;
}
.percent-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  list-style: none;
  height: auto;
  margin: 0;
  padding: 0;
}
.percent-item {
  margin: 0 auto;
  width: 120px;
}
.percent-item h3{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin: 0;
}
.percent-item .percent-sign {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  position: relative;
  top: -15px;
}
.percent-item p{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  text-transform: none;
}

/* Partners */

.partners {
  position: relative;
  margin-top: 46px;
  margin-bottom: 46px;
}
.partners::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -46px;
  left: 0;
  height: 2px;
  background-color: var(--basic-gray);
}
.partners::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -46px;
  left: 0px;
  height: 2px;
  background-color: var(--basic-gray);
}
.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.partners-item {
  position: relative;
  margin: 0 auto;
}
.partners-item a {
  opacity: 0.2;
}
.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}
.partners-item a:active {
  opacity: 0.1;
}
.partners-item::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -50px;
  width: 2px;
  height: 52px;
  margin: auto;
  background-color: var(--basic-gray);
}
.partners-item:first-child::after {
  display: none;
}

/* Buttons */

.button {
  padding: 16px 40px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
.button-red {
  background-color: var(--basic-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red-hover);
}
.button-red:active {
  background-color: var(--basic-red-active);
}
.button-green {
  background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-hover);
}
.button-green:active {
  background-color: var(--basic-green-active);
}
.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-hover);
}
.button-yellow:active {
  background-color: var(--basic-yellow-active);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  width: 260px;
  height: 50px;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-gray-hover);
}
.filter-button:active {
  background-color: var(--basic-gray-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}
.contact-button {
  font: inherit;
  width: 260px;
  height: 50px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
/* Main (Catalog) */

.catalog-title {
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  margin-top: 78px;
  margin-bottom: 108px;
}
.catalog-page {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-areas:
  "filters sorting sorting"
  "filters catalog catalog"
  "filters pagination pagination";
  grid-gap: 40px;
  align-content: start;
  margin-top: 55px;
}

/* Sort */

.sort {
  grid-area: sorting;
}
.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.to-sort {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sort-catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
  
}
.sort-catalog-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-right: 25px;
}
.sort-catalog-item:last-child {
  margin-right: 0;
}
.sort-catalog-item a {
  color: var(--basic-black);
  display: block;
  opacity: 0.3;
}
.sort-catalog-item a:hover,
.sort-catalog-item a:focus {
  opacity: 0.6;
}
.sort-catalog-item a:active,
.sort-catalog-item .current-sort {
  opacity: 1;
}
.switch-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  margin: 0;
  list-style: none;
}
.switch-item button {
  position: relative;
  cursor: pointer;
  width: 11px;
  height: 10px;
  margin: 0;
  border: 0 solid white;
  background-color: transparent;
  opacity: 0.2;
}
.switch-item:first-child button {
  background-image: url("../img/arrow-down-icon.svg");
  background-repeat: no-repeat;
  margin-right: 18px; 
}
.switch-item:last-child button {
  background-image: url("../img/arrow-up-icon.svg");
  background-repeat: no-repeat;
}
.switch-item button:hover,
.switch-item button:focus {
  opacity: 1;
}
.switch-item button:active,
.switch-item .current-sort-arrow {
  opacity: 1;
}
/* Filters */

.filters {
  grid-area: filters;
  width: 260px;
}
  /* Toggle */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.filter-item .filter-toggle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 30%;
  height: 2px;
  margin-left: 20%;
  background: var(--basic-green);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 20%;
}
.range-controls .toggle-max {
  left: 50%;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-light-black);
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

  /* Radio-and-checkbox */

.filters-radio-and-checkbox {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
}
.filter-list {
  list-style: none;
}
.filter-input {
  clear: both;
}
.filter-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 38px;
}
.filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 180px;
}
.filters .filters-radio {
  margin-top: 54px;
  margin-bottom: 46px;
}
.filters .filters-checkbox {
  margin-bottom: 50px;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -38px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -38px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}
.filter-input-cb + label::before {
  content: "";
  position: absolute;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}
.filter-input-cb:checked + label::before {
  content: "";
  position: absolute;
  left: -38px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}
.filter input + label,
.filter input:hover + label {
  color: var(--basic-light-black);
}
.filter input:disabled + label {
  color: var(--basic-light-black);
  opacity: 0.3;
}
.filter input:hover + label::before {
  opacity: 1;
}
.filter input:disabled + label::before {
  opacity: 0.1;
}


/* Catalog */

.catalog {
  grid-area: catalog;
  min-width: 720px;
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.catalog-item {
  position: relative;
  width: 358px;
  padding-top: 40px;
  margin-bottom: 31px;
}
.catalog-image {
  position: relative;
}
.catalog-item:nth-child(2n-1) {
  margin-right: 42px;
}
.catalog-item::before {
  content: "";
  position: absolute;
  width: 358px;
  height: 40px;
  top: 0px;
  background-image: url("../img/browser.svg");
}

/* Pages */

.pages {
  grid-area: pagination;
  margin-top: -16px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin-right: 11px;
}
.pagination-item a {
  display: block;
  padding: 16px 20px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
}
.pagination-item:last-child {
  text-align: center;
  width: 260px;
  height: 50px;
  color: var(--basic_black);
  vertical-align: middle;
  text-transform: inherit;
  background-color: var(--basic-gray);
  border: none;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-gray-hover);
}
.pagination-item a:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--basic-gray-active);
  color: rgba(0, 0, 0, 0.3);
}

.current-page a,
.current-page a:hover,
.current-page a:focus,
.current-page a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid #DBDBDB;
  padding: 14px 18px;
}

/* Footer */


  /* Address */

.address {
  padding: 49px 50px;
  width: 219px;
  background-color: var(--basic-white);
}
.adress h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.address p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}
.footer-contacts {
  margin-top: 78px;
}
/* Socials */

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-button {
  display: flex;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-footer-white);
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red-hover);
}
.social-button:active {
  background-color: var(--basic-red-active);
}
.social-button img:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/* Friendly */

.friendly {
  margin-left: 140px;
}

.friendly h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
.friendly p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-footer-gray);
  text-transform: none;
}

/* Modals */

  /* Contacts */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
}
.close-cross-button {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.close-cross-button::before,
.close-cross-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
}
.close-cross-button::before {
  transform: rotate(45deg);
}
.close-cross-button::after {
  transform: rotate(-45deg);
}

.contact-us {
  display: none;
  bottom: auto;
  width: 760px;
  padding: 63px 100px 84px 100px;
}
.contact-us h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;

}
.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: inherit;
  margin-top: 37px;

}
.contact-us-form p {
  margin: 0;
  padding: 0;
}
.contact-us-item {
  width: 360px;
}
.contact-us-form label{
  font-weight: 700;
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}
.contact-us-item input{
  width: 360px;
  height: 50px;
  padding-left: 16px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 9px;
  margin-bottom: 34px;
  
}
.contact-us-message {
  width: 760px;
}

.contact-us-message textarea {
  width: 760px;
  height: 118px;
  padding-left: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  border-radius: 3px;
  resize: none;
  margin-top: 9px;
  margin-bottom: -11px;
}

.contact-us h2{
  text-transform: none;
}

.contact-us input,
.contact-us textarea {
    background-color: transparent;
    border: 2px solid #D7DCDE;
}
.contact-us input:focus,
.contact-us textarea:focus {
    border-color: var(--basic-black);
}
.contact-us-form button {
  margin-top: 47px;
}

  /* Map */

.modal-map {
  display: none;
}
.modal-map iframe {
  border: none;
}
.map-cross-button {
  top: 0;
  right: -40px;
}