/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-gray: #EEEEEE;
  --basic-gray-hover: #DFDFDF;
  --basic-gray-active: #D5D5D5;
  --basic-dark-gray: #4D4D4D;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-active: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
  --basic-white: #ffffff;
  --basic-footer-white: #E1E1E1;
  --basic-footer-gray: #444444;
} 

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Main navigation */

.header {
  color: var(--basic-black);
  background-color: var(--basic-gray);

}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 160px;
  height: 65px;
}

.menu,
.cart {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
.main-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-link {
  padding-left: 40px;
}

.main-menu a,
.cart a {
  color: var(--basic-black);
  display: block;
  padding: 0 22px;
}
.main-menu a:hover,
.cart a:hover {
  color: var(--basic-red);
}
.main-menu a:focus,
.cart a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}
.main-menu a:active,
.cart a:active {
  color: var(--basic-black);
}

/* Sliders */

.sliders {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.slider-items {
  list-style: none;
}

.slider-name {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;

}
.slider-sub-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;

}
.slider-image {
  width: 760px;
  height: 431px;
}

/* Main (Index) */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

  /* Product */

.product {
  margin-bottom: 121px;
}
.product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-item {
  width: 400px;
  text-align: left;
}
.product-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.product-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  width: 260px;
  text-transform: none;
}
.product-item p {
  margin-bottom: 32px;
}

/* About us */

.about-us-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-us {
  width: 651px;
}

.about-us h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
}
.about-us p,
.about-us-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.about-us-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

/* Percent */

.percent {
  width: 360px;
}

.percent-illustration {
  width: 360px;
  height: 208px;
  margin: auto;
}
.percent p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.percent-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.percent-item {
  margin: 0 auto;
  width: 120px;
}
.percent-item h3{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.percent-item p{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: start;
  text-transform: none;
}

/* Partners */

.partners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.partners-item {
  margin: 0 auto;
}
.partners-item a {
  opacity: 0.2;
}
.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}
.partners-item a:active {
  opacity: 0.1;
}

/* Buttons */

.button {
  padding: 16px 40px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
.button-red {
  background-color: var(--basic-red);
}
.button-red:hover,
.button-red:focus {
  background-color: var(--basic-red-hover);
}
.button-red:active {
  background-color: var(--basic-red-active);
}
.button-green {
  background-color: var(--basic-green);
}
.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-hover);
}
.button-green:active {
  background-color: var(--basic-green-active);
}
.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-hover);
}
.button-yellow:active {
  background-color: var(--basic-yellow-active);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  width: 260px;
  height: 50px;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-gray-hover);
}
.filter-button:active {
  background-color: var(--basic-gray-active);
}

/* Main (Catalog) */

.catalog-title {
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
}
.catalog-page {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-areas:
  "filters sorting sorting"
  "filters catalog catalog"
  "filters pagination pagination";
  grid-gap: 40px;
  align-content: start;
}

/* Sort */

.sort {
  grid-area: sorting;
}
.sorting {
  /*display: grid;
  grid-template-columns: 1fr min-content min-content;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.to-sort {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sort-catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
}
.sort-catalog-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.switch-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  margin: 0;
  list-style: none;
}

/* Filters */

.filters {
  grid-area: filters;
  width: 260px;
}
.filters-radio-and-checkbox {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter-list {
  list-style: none;
}
.filter-option {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
}
.filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
  max-width: 181px;
}
.filters .filters-radio {
  margin-bottom: 46px;
}
.filters .filters-checkbox {
  margin-bottom: 50px;
}

/* Catalog */

.catalog {
  grid-area: catalog;
  min-width: 720px;
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;*/
  list-style: none;
}
.catalog-item {
  width: 358px;
  margin-bottom: 31px;
}
.catalog-item:nth-child(2n-1) {
  margin-right: 42px;
}

/* Pages */

.pages {
  grid-area: pagination;
}

.pagination-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin-right: 11px;
}

/* Footer */


  /* Address */

.address {
  width: 319px;
  background-color: var(--basic-white);
}
.adress h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.address p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

/* Socials */

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-button {
  background-color: var(--basic-footer-white);
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red-hover);
}
.social-button:active {
  background-color: var(--basic-red-active);
}
.social-button img:active {
  opacity: 0.3;
}

/* Friendly */

.friendly {
  margin-left: 140px;
}

.friendly h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
.friendly p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-footer-gray);
  text-transform: none;
}